/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 400% 400%;
  background-color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
